/*universal selector*/
*{
    margin: 4px;
}
body{
    border: 100px,100px;
    margin: center;
    background-image:linear-gradient(to left, black,pink)
}
.navbar{
    text-align: end;
    padding-right:10px;
    padding-top: 5px;
}
.navbar:hover{
    background-color: aliceblue;
    display: inline-block;
}
/*Class Selector*/
.login-box{
    border-left: 100px;
    color: black;
    text-align: center;
}
/*ID Selector*/
#user{
    align-items: center;
}
/*Type Selector*/
label{
    display:inline-block;
    text-align: right;
    width: 90px;
}
form{
    display: block;
    margin: 0 auto;
  width: 300px;
  text-align: center;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  border-color: blanchedalmond;
}
form.button{
    align-items: center;

}
input:invalid{
    color: red;
}
input:valid{
    background-color: green;
}
/*Psudo class*/
form :invalid button{
    opacity: 10%;
    touch-action: none;
}
input:valid .constrains{
    color: aliceblue;
}
div{
    margin-left: auto;
}
#new-user{
    text-align: center;
}